html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #ddd;
    background-color: #333;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: Roboto, Ubuntu, sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

input[type="range"] {
    height: 0;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

#toggle-dropdown {
    width: 25em;
    display: flex;
    justify-content: space-between;
}

#drop-down-arrow {
    margin-left: auto;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#inner-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #aaa;
    width: 25em;
    height: 20em;
    overflow-y: scroll;
}

#inner-dropdown input {
    width: 100%;
}

.stop-option {
    cursor: pointer;
    color: #333
}

.stop-option:hover {
    background-color: #ddd;
}

.option-line-indicator {
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}

.option-line-indicator.red {
    background: red;
}

.option-line-indicator.blue {
    background: blue;
}

.option-line-indicator.green {
    background: green;
}

.option-line-indicator.brown {
    background: brown;
}

.option-line-indicator.purple {
    background: purple;
}

.option-line-indicator.yellow {
    background: yellow;
}

.option-line-indicator.pink {
    background: pink;
}

.option-line-indicator.orange {
    background: orange;
}

.eta-card {
    color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.mins-until-arrival {
    font-size: 24px;
}
